@font-face {
    font-family: 'Playlist-Caps';
    src: url('../fonts/custom/Playlist-Caps.otf')format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: 'Playlist-Script';
    src: url('../fonts/custom/Playlist-Script.otf')format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: 'knewave';
    src: url('../fonts/custom/knewave.ttf')format("truetype");
    font-weight: normal;
}
